@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* from stackoverflow: https://stackoverflow.com/a/17899813  */

/* amie.so AmieSoComponent */
/*  */
.gradient-1 {
  /* width: 300px;
  height: 800px; */
  background-image: url("https://media.istockphoto.com/id/917911572/photo/standing-woman-on-the-hill-against-mountain-valley-at-bright-sunny-day-landscape-with-girl.jpg?s=2048x2048&w=is&k=20&c=cM_JXt2TA5RkUwemBr30OYs_v_Wz2KaQD-Lze6Koz88=");
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gradient-0 {
  /* width: 300px;
  height: 800px; */
  background-image: url("https://images.unsplash.com/photo-1498931299472-f7a63a5a1cfa?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gradient-1 {
  /* width: 300px;
  height: 800px; */
  background-image: url("https://cdn.pixabay.com/photo/2017/02/01/08/02/like-2029074_1280.jpg");
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gradient-2 {
  /* width: 300px;
  height: 800px; */
  background-image: url("https://media.istockphoto.com/id/917911572/photo/standing-woman-on-the-hill-against-mountain-valley-at-bright-sunny-day-landscape-with-girl.jpg?s=2048x2048&w=is&k=20&c=cM_JXt2TA5RkUwemBr30OYs_v_Wz2KaQD-Lze6Koz88=");
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gradient-3 {
  /* width: 300px;
  height: 800px; */
  background-image: url("https://images.unsplash.com/photo-1498931299472-f7a63a5a1cfa?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gradient-4 {
  /* width: 300px;
  height: 800px; */
  background-image: url("https://cdn.pixabay.com/photo/2017/02/01/08/02/like-2029074_1280.jpg");
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gradient-5 {
  /* width: 300px;
  height: 800px; */
  background-image: url("https://images.unsplash.com/photo-1498931299472-f7a63a5a1cfa?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* background-color: green; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
